body {
    padding: 0%;
    margin: 0%;
    font-family: 'Harmattan', sans-serif;
}

/* .content {
    background-color: rgb(249, 249, 249);
    padding-top: 5rem;
    padding-bottom: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 80rem;
    width: 100%;
  } */

.home-navbar {
    width: 100%;
    background-color: white;
    height: 50px;
}

.home-fixed-img {
    width: 100%;
    height: 602.83px;
    background-color: black;
    position: relative;
}

.home-overlayer {
    position: absolute;
    width: 100%;
    height: 635.83px;
    background-color: black;
    opacity: 65%;

}

.home-f-image {
    position: absolute;
    height: 635.83px;
    width: 100%;
}

.home-heading-1 {
    position: absolute;
    color: white;
    font-size: 90px;
    padding-left: 10%;
    padding-top: 3%;

}

.home-subheading-1 {
    position: absolute;
    color: white;
    font-size: 25px;
    padding-left: 10.5%;
    padding-top: 15%;
}

.home-theme-heading {
    position: absolute;
    color: white;
    padding-left: 10%;
    font-size: 45px;
    font-weight: bold;
    padding-top: 17%;
}

.home-details-1,
.home-details-2 {
    position: absolute;
    color: white;
    font-size: 25px;
    padding-left: 10%;
    padding-top: 25%;
    line-height: 114.4%;
}

.home-details-2 {
    padding-left: 30%;
}

.home-intro-1 {
    width: 100%;
    height: 502.83px;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.home-photo-1 {
    width: 65%;
    height: 100%;
    /* background-color: yellow; */
}

.home-photo-1 img {
    /* padding: 5%; */
    width: 80%;
    float: right;
    margin-top: 10%;

}

.home-header-1 {
    font-size: 45px;
    margin: 0;
}

.home-text-1 {
    padding: 5%;
    width: 70%;
    height: auto;
    float: left;
    font-size: 22px;
    /* background-color: red; */
}

.home-text-1 p,
.home-text-2 p {
    color: #8A8787;
    line-height: 37px;
    margin-top: 0;
}

.home-intro-2 {
    width: 100%;
    height: 502.83px;
    background-color: #F1EFEF;
    display: flex;
    flex-direction: row-reverse;
}

.home-photo-2 {}

.home-photo-2 img {
    /* float: left;
    margin-top: 10%;
    width: 80%;
    height: auto; */
    margin-right: 20%;
}


.home-text-2,
.home-text-3 {
    padding: 5%;
    width: 100%;
    /* height: 100%; */
    /* float: right; */
    text-align: center;
    margin: auto;
    font-size: 22px;
    /* background-color: yellow; */
}

.home-text-2 {
    text-align: right;
}

.home-gallery {
    width: 100%;
    height: 650px;
    /* background-color: red; */
    display: flex;
}

.home-learn-btn-2,
.home-learn-btn-1 {
    padding: 12px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    border-radius: 24px;
    border-color: red;
    background-color: red;
    float: right;
}

.home-learn-btn-1 {
    float: left;
}

.home-footer {
    width: 100%;
    height: 300px;
    background-color: black;
}

.home-carousel-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 40px;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    /* align-items: auto; */
}

.home-carousel-wrapper-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem .5rem;
}

.home-carousel-wrapper-btn-innerBtn {
    padding: 8px 27px;
    background-color: red;
    border-style: none;
    border-radius: 0.5rem;
    font-weight: 900;
    font-size: larger;
    transition: .4s;
}

.home-carousel-wrapper-btn-innerBtn:hover{
    background-color: rgb(212, 39, 39);
    color: white;
}

.home-carousel-wrapper .carousel img:hover{
    cursor:grab;
}

.home-carousel-wrapper img {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.home-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.home-arrow-prev {
    left: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.home-arrow-next {
    right: -30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^="home-item"] {
    display: none;
}

.home-item-1 {
    z-index: 2;
    opacity: 1;
    background: url(./assets/carousel-1.png);
    background-size: cover;
}

.home-item-2 {
    background: url(./assets/carousel-2.png);
    background-size: cover;
}

.home-item-3 {
    background: url(./assets/carousel-3.png);
    background-size: cover;
}

*:target~.home-item-1 {
    opacity: 0;
}

#home-item-1:target~.home-item-1 {
    opacity: 1;
}

#home-item-2:target~.home-item-2,
#home-item-3:target~.home-item-3 {
    z-index: 3;
    opacity: 1;
}

@media screen and (max-width: 992px) {
    body {
        padding: 0%;
        margin: 0%;
        font-family: 'Harmattan', sans-serif;
    }

    .bm-burger-bars {
        background: white;
    }

    .home-navbar {
        width: 100%;
        background-color: white;
        height: 50px;
    }

    .home-fixed-img {
        width: auto;
        background-color: black;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .home-overlayer {
        position: absolute;
        width: 100%;
        background-color: black;
        opacity: 50%;
    }

    .home-f-image {
        width: 100%;
        object-fit: cover;
        object-position: 50% 0;

    }

    .home-heading-1 {
        opacity: 100%;
        margin-top: 10%;
        font-size: 50px;

    }

    .home-subheading-1 {
        opacity: 100%;
        margin-top: 15%;
        font-size: 17px;
    }

    .home-theme-heading {
        opacity: 100%;
        margin-top: 25%;
        font-size: 30px;
    }

    .home-details-1,
    .home-details-2 {
        opacity: 100%;
        margin-top: 49%;
        font-size: 20px;
    }

    .home-details-2 {
        opacity: 100%;
        padding-left: 10%;
        margin-top: 70%;
    }

    .home-intro-1 {
        width: 100%;
        height: auto;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20%;
    }

    .home-photo-1 {
        width: 100%;
        height: auto;
        /* background-color: yellow; */
    }

    .home-photo-1 img {
        /* padding: 5%; */
        width: 80%;
        float: inline-start;
        margin-right: 10%;
        margin-top: 0%;

    }

    .home-header-1 {
        font-size: 30px;
        margin-left: 10px;
    }

    .home-text-1 {
        padding: 5%;
        width: 70%;
        height: auto;
        float: left;
        font-size: 22px;
        /* background-color: red; */
    }

    .home-text-1 p,
    .home-text-2 p {
        color: #8A8787;
        line-height: 37px;
    }

    .home-intro-2 {
        width: 100%;
        height: auto;
        background-color: #F1EFEF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .home-photo-2 {}

    .home-photo-2 img {
        margin-top: 10%;
        width: 80%;
        height: auto;
    }


    .home-text-2,
    .home-text-3 {
        text-align: center;
        padding: 0%;
        margin: 2rem 0
            /* background-color: yellow; */
    }

    .home-text-2 {
        text-align: right;
    }

    .home-gallery {
        width: 100%;
        height: 450px;
        /* background-color: red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-learn-btn-2,
    .home-learn-btn-1 {
        padding: 12px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        border-radius: 24px;
        border-color: red;
        background-color: red;
        float: right;
    }

    .home-learn-btn-1 {
        float: left;
    }

    .home-footer {
        width: 100%;
        height: 300px;
        background-color: black;
    }

    .home-carousel-wrapper {
        position: relative;
        /* height: 1px; */
        width: 28rem;
        border: 2px solid black;
        margin: 0 auto;
        background-color: red;
    }

    .home-carousel-wrapper img {
        height: 25rem;
    }

    .home-carousel-wrapper img:hover{
        cursor: pointer;
    }

    .home-carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        width: 170px;
        height: 220px;
    }

    .home-arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 12px;
    }

    .home-arrow-prev {
        left: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
    }

    .home-arrow-next {
        right: -30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    [id^="home-item"] {
        display: none;
    }

    .home-item-1 {
        z-index: 2;
        opacity: 1;
        background: url(./assets/carousel-1.png);
        background-size: cover;
    }

    .home-item-2 {
        background: url(./assets/carousel-2.png);
        background-size: cover;
    }

    .home-item-3 {
        background: url(./assets/carousel-3.png);
        background-size: cover;
    }

    *:target~.home-item-1 {
        opacity: 0;
    }

    #home-item-1:target~.home-item-1 {
        opacity: 1;
    }

    #home-item-2:target~.home-item-2,
    #home-item-3:target~.home-item-3 {
        z-index: 3;
        opacity: 1;
    }
}

@media screen and (max-width: 992px) {
    .home-carousel-wrapper {
        position: relative;
        width: 20rem;
        border: 2px solid black;
        margin: 0 auto;
        background-color: red;
    }

    .home-carousel-wrapper img {
        height: 20rem;
    }
}