.teams{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F1EFEF;
}

.teams-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.teams-card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    /* border-radius: 10px; */
}
.teams-card-details{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
    width: 310px;
    height: 103px;
    background: red;
    opacity: 1;
    transition: transform .4s;

    /* border-radius: 20px; */
    /* border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%; */
    display: flex;
    flex-direction: column;
   
}
.teams-card-name{
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0;
    color: #ffff;
    margin-top:38px;
}
.teams-card-desgn{
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: #ffff;
    margin-bottom: 0px;
}
.teams-card-img{
    margin: 25px;
    width: 260px;
    margin-bottom: 0px;
    height: 260px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    /* border-radius: 50%; */
    transition: transform .4s;
    border: 5px solid red;
    border-radius: 50%;
    z-index: 2;

}
/* .teams-card-container:hover{
    transform: scale(1.2);
} */
.teams-card-details:hover{
    transform: scale(1.2);
    background-color: rgb(157, 0, 0);
}
.teams-card-img:hover{
    border: 10px solid rgb(157, 0, 0);
    transform: scale(1.2);

}
.teams-heading{
width: 494px;
height: 136px;
font-family: 'Harmattan';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 136px;
color: #161515;
}

