.teams {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F1EFEF;
}

.teams hr {
    height: 10px;
    background-color: red;
    width: 100%;
    margin-bottom: 20px;
}

.teams-body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teams-body-head {
    font-size: 3rem;
    margin-top: 0;
    background-color: rgb(233, 233, 233);
}

.teams-body-head h1 {
    margin-bottom: 0;
    margin-top: 0;
    color: red;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 5px;
}

.teams-body-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.teams-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    /* border-radius: 10px; */
}

.teams-card-details {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 35px;
    width: 310px;
    height: 103px;
    background: red;
    opacity: 1;
    transition: transform .4s;

    /* border-radius: 20px; */
    /* border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%; */
    display: flex;
    flex-direction: column;

}

.teams-card-name {
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 0;
    color: #ffff;
    margin-top: 38px;
}

.teams-card-desgn {
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    color: #ffff;
    margin-bottom: 0px;
}

.teams-card-img {
    margin: 25px;
    width: 260px;
    margin-bottom: 0px;
    height: 260px;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    /* border-radius: 50%; */
    transition: transform .4s;
    border: 5px solid rgb(255, 65, 65);
    border-radius: 50%;
    z-index: 2;

}

/* .teams-card-container:hover{
    transform: scale(1.2);
} */
.teams-card-details:hover {
    transform: scale(1.1);
    /* background-color: rgb(157, 0, 0); */
}

.teams-card-img:hover {
    /* border: 10px solid rgb(157, 0, 0); */
    transform: scale(1.1);

}

.teams-heading {
    width: 30.875rem;
    height: 8.5rem;
    font-family: 'Harmattan';
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 8.5rem;
    color: #161515;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .teams-heading {

        width: 20.875rem;
        height: 5.5rem;
        font-family: 'Harmattan';
        font-style: normal;
        font-weight: 600;
        font-size: 3rem;
        line-height: 12.5rem;
        color: #161515;
        text-align: center;
        margin-bottom: 3.5rem;
    }

    .teams-card-container {
        margin: -7px;
    }

}

@media only screen and (max-width: 628px) {

    .teams-body-head {
        margin-bottom: 1.5rem;
    }
    
    .teams-body-head h1 { 
        line-height: 4rem;
        font-size: 2.5rem;
    }

}